nav {
    background: rgb(132,30,156);
    background: linear-gradient(90deg, rgba(132,30,156,1) 0%, rgba(63,103,166,1) 100%);
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 13px;
  }
  nav li {
    padding: 10px;
    cursor: pointer;
  }
  .link {
    color: white;
    text-decoration: none;
  }
  .link:hover {
    color: rgb(137,167,255);
    text-underline-offset: 3px;
  }
  
  .size {
    font-size: 25px;
    display: flex;
    align-items: center;
  }
  .logoLink {
    text-decoration: none;
    color: white;
  }
  .logoLink:hover {
    text-decoration: none;
    color: white;
  }