.detailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100vw;
    padding: 15px 60px;
    color: white;
    column-gap: 50px;
    background: linear-gradient(148deg, rgb(52, 106, 188) 0%, rgb(96, 63, 136) 50%, rgb(141, 82, 165) 100%);
    margin: 0;
    z-index: 1;
  }
  
  .details {
    position: absolute;
    top: 70px;
  }
  .avatar {
    max-width: 100%;
  }
  h3 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .surname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #406d9a00;
    max-width: 50vw;
    padding-top: 20px;
  }
  .surname input {
    border: none;
    background-color: #e9f1f8b4;
    padding: 0 10px;
    margin: 5px;
    max-width: 70vw;
    background-color: white;
  }
  .surname input:disabled {
    background-color: #3e4347de;
    color: rgb(255, 255, 255);
  }
  .edit {
    background: none; 
    color: rgb(255, 255, 255); 
    border: 2px solid #4CAF50;
    width: 150px;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1.2px;
  }

  .edit:hover {
    background-color: #4CAF50;
    color: white;
  }

  .saveRedact {
    border: none;
    background-color: #4CAF50;
    color: white;
    width: 150px;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .businessCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    position: relative;
  }
  .businessCard span {
    position: absolute;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
    top: 15px;
    right: 20px;
  }
  .businessCard span:hover {
    text-decoration: none;
  }
  .approved {
    position: absolute;
    top: 3%;
    right: 40%;
  }
  .approved input {
    transform: scale(2);
  }
  .approved label {
    padding-right: 10px;
  }
  .delete {
    background: none; 
    color: rgb(255, 255, 255); 
    border: 2px solid #e21111;
    width: 150px;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .delete:hover {
    background-color: #e21111;
    color: white;
  }

  .butts {
    text-align: center;
    margin-top: 20px;
  }
  .butts button {
    margin: 15px;
  }